.categories {
  display: flex; 
  padding: 5% 0;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.categories__label {
  font-family: OpenSans, sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  color: #323c48;
  width: 100%;
}

.categories__link {
  display: inline-block;
  height: 0.8rem;
  line-height: 0.8rem;
  margin: 0.2rem;
  border: 1px solid black;
  color: black;
  background-color: white;
  text-decoration: none;
  padding: 5%;
  border-radius: 1.6rem;
}

.categories__link.activ {
  color: white;
  background-color: black;
}
