.categories {
  margin: 2% auto;
  width: 80%;
  border: 1px solid blue;
  text-align: center;
  padding: 0% 5% 5%;
}

.categories__label {
  font-family: arial;
  font-size: 1.2rem;
  color: gray;
}

.categories__link {
  display: inline-block;
  border: 1px solid blue;
  color: blue;
  background-color: white;
  text-decoration: none;
  padding: 5%;
}

.categories .activ {
  color: white;
  background-color: blue;
}
