.resetBlock {
  text-align: center;  
}

.resetBlock__resetLink {
  display: inline-block;
  height: 0.8rem;
  line-height: 0.8rem;
  margin: 0.2rem;
  border: 1px solid black;
  color: black;
  background-color: white;
  text-decoration: none;
  padding: 5%;
}
