.paginator {
  margin: 4% auto;
  width: 30%;
}

.paginator__item {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  border: 1px solid blue;
  text-align: center;
  text-decoration: none;
  background-color: white;
  color: blue;
  line-height: 2rem;
}

.paginator__item-active {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  border: 1px solid blue;
  text-align: center;
  text-decoration: none;
  background-color: blue;
  color: white;
  line-height: 2rem;
}
