.formFilter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.4rem;
}

.formFilter__labelPrice {
  font-family: OpenSans, sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
  color: #323c48;
}

.formFilter__element {
  width: 100%;
}